<div class="row clearfix well">
  <div class="col-md-2 column">
    <img class="img-thumbnail" alt="140x140" src="http://lorempixel.com/140/140/" />
  </div>
  <div class="col-md-8 column">
    <blockquote>
      <p>
        Rajith Thennakoon
      </p> <small>Undergraduate of University of Colombo School of Computing</small>
    </blockquote>
  </div>
  <div class="col-md-2 column">

    <a href="https://github.com/rajithst"><button class="btn btn-default btn-block" type="button">
      Github
    </button></a>
    <a href="https://www.linkedin.com/in/rajith-thennakoon-309787116/"><button class="btn btn-default btn-block" type="button">
      Linkedn
    </button></a>

  </div>
</div>
<div class="row clearfix">
  <div class="col-md-4"></div>
  <div class="col-md-4 column">
    <div class="tabbable" id="tabs-444468">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#panel-200304" data-toggle="tab">About</a>
        </li>

      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="panel-200304">
          <div class="row clearfix">
            <div class="col-md-8 column">
              <br>
              <p>
                <strong>About Github API</strong><br/>
                This Application has been developed by using <a href="https://developer.github.com/v3/" >Github API</a>.It has certain limitations,Its allowed to send 5000 requests to the api for an authorized access & for an unauthorized access 60 reqests can be sent per hour.
              </p>
              <hr/>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4"></div>
</div>
