<div class="row">
  <form class="form-horizontal" (submit)="searchResult()">
    <fieldset>
  <div class="col-md-6">
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label" >Select Language</label>
      <div class="col-lg-10">
        <select class="form-control" id="select" [(ngModel)]="selection" name="selection">
          <option value="JavaScript"> <img src="../../../assets/img/javascript.png" alt="">JavaScript</option>
          <option value="Java"></option>
          <option value="Python">Python</option>
          <option value="CSS">CSS</option>
          <option value="PHP">PHP</option>
          <option value="Ruby">Ruby</option>
          <option value="C++">C++</option>
          <option value="C">C</option>
          <option value="Shell"></option>
          <option value="C#"></option>
          <option value="Objective-C"></option>
          <option value="R"></option>
          <option value="VimL"></option>
          <option value="Go"></option>
          <option value="Perl"></option>
          <option value="CoffeeScript"></option>
          <option value="TeX"></option>
          <option value="Swift"></option>
          <option value="Scala"></option>
          <option value="Emacs Lisp"></option>
          <option value="Haskell"></option>
          <option value="Lua"></option>
          <option value="Clojure"></option>
          <option value="Matlab"></option>
          <option value="Arduino"></option>
          <option value="Makefile"></option>
          <option value="Groovy"></option>
          <option value="Puppet"></option>
          <option value="Rust"></option>
          <option value="PowerShell"></option>
        </select>
      </div>
    </div>
  </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" [(ngModel)]="searchkey" name="searchkey"  (keyup)="searchResult()" placeholder="search in Github..........">
          </div>
        </div>

      </div>

    </fieldset>
  </form>
</div>

<div *ngIf="data">

  <div *ngFor="let res of data">

    <div class="row">

      <div class="col-md-12">

        <div class="search-res well">
          <h4><a [routerLink]="['/repository/'+res.id]">{{res.name}}</a></h4>
          <div>
            <img src="{{res.owner.avatar_url}}" class="img-circle" width="50" height="50"> &nbsp; <strong>{{res.full_name}}</strong>
            <!--<span *ngFor="let genre of res.genres">{{genre}}</span>-->
          </div>
        </div>

      </div>
    </div>

  </div>

</div>







