<div class="row">
  <form class="form-horizontal" (submit)="searchResult()">
    <fieldset>
  <div class="col-md-6">
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label" >Select Language</label>
      <div class="col-lg-10">
        <select class="form-control" id="select" [(ngModel)]="selection" name="selection">
          <option value="assembly">assembly</option>
        </select>
      </div>
    </div>
  </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-lg-10">
            <input type="text" class="form-control" [(ngModel)]="searchkey" name="searchkey"  (keyup)="searchResult()" placeholder="search in Github..........">
          </div>
        </div>

      </div>

    </fieldset>
  </form>
</div>




